html {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(245, 246, 252);}
footer {color: rgb(1, 2, 65);}
div {text-align: right; font-size: large;}
button {padding: 20px 40px;color: rgb(1, 2, 65);border-radius: 50px;border: none;
    background-color: rgb(198, 197, 250);font-size: 17px;}
h1 {color:rgb(1, 2, 65); text-spacing-trim: 20px; font-size: 35px;}
footer {font-size: 20px;}
p {font-size: 20px;}
a {padding: 20px 40px; text-decoration: none;border-radius: 50px; color: rgb(1, 2, 65);}
a:hover {background-color: rgb(245, 246, 252);}